* {
    margin: 0px;
    padding: 0px;
}

h1 {
    background-color: #301A4B;
    color: white;
    height: 4rem;
    line-height: 4rem;
    padding-left: 37vw;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: black;
}

img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    object-fit: cover;
}

.choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, 
#comp-score {
    font-size: 3rem;
    margin-left: 1.2rem;
}

.msg-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg {
    background-color: #301A4B;
    color: white;
    font-size: 2rem;
    display: inline;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
}