* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #474973;
    color: #F1DAC4;
    text-align: center;
}

#game-name{
    margin-top: 20px;
}

#score {
    color: #D5F9DE;
    font-size: 2rem;
    margin-top: 25px;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #DE6E4B;
    background-color: #f0f0f0;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #F1DAC4;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1rem;
    background-color: #F1DAC4;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: white;
    font-size: 5vmin;
}

.msg-container{
    height: 30vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.hide {
    display: none;
}